body {
    font-family:'Muli';
    background-color:#333a35;
}

/* navigation bar starts here */
nav {
    background-color:#333a35;
    display: flex;
    align-content
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #eca419;
  }

nav .logo {
      width: 55px;
      padding-left: 15px;
  }
nav i {
    color: #eca419;

}
nav i:hover {
    color:white;
}

nav .logo-container {
    align-content: center;
    align-items: center;

}

nav .tab-container {
    width: 700px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}

nav .icon-container {
    width: 255px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 18pt;
}

/* features start here -- */







/* articles start here -- */

h





/* Gear starts here --*/
.gear-main-container {
    background-color: #dbccb6;
    height: 1800px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1470px;

}
.gear-title {
    margin: 0 0 -16px 0;
    font-size: 48px;
    font-weight: bold;
    color: #eca419;
    text-align: center;
    padding:0;
    border: none;
}
.gear-categories {
    height: 1270px;
    width: 1050px;
    text-align: left;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 50px;

}
.gear-chairs {
    height: 300px;
    background-color: white;
    display: flex;
    margin:0;
    border-top: none;

}
.gear-cooksets {
    height: 300px;
    background-color: white;
    display: flex;

}
.gear-hats {
    height: 300px;
    background-color: white;
    display: flex;

}
.gear-candles {
    height: 300px;
    background-color: white;
    display: flex;

}

.gear-chairs-image {
    width: 400px;
    justify-content: center;
    display: flex;
    background-image: url(../image/images-for-hike-project/chairs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    margin: 40px;
}

.gear-cookset-image {
    width: 400px;
    justify-content: center;
    display: flex;
    background-image: url(../image/images-for-hike-project/cooksets.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    margin: 40px;

    display: flex;
    background-color: white;
    justify-content: center;
    justify-content: space-around;
}

.gear-hats-image {
    width: 400px;
    justify-content: center;
    display: flex;
    background-image: url(../image/images-for-hike-project/hats.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    margin: 40px;


}
.gear-candles-image {
    width: 400px;
    justify-content: center;
    display: flex;
    background-image: url(../image/images-for-hike-project/candles.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    margin: 40px;
    position: relative;
}

.gear-text {
    width: 680px;
    display: flex;
    flex-direction: column;
    padding: 40px 0;

}
.g-subheading {
    font-weight: bold;
    font-size: 24px;
    padding-right: 48px

}
.g-description {
    padding-right: 20px;
    font-size: 18.5px;
    margin-top: 0;
}

.g-badge {
    position: absolute;
    top: 180px;
}
